**/cache/
**/__pycache__/
**/densephrases-data/
**/densephrases.egg-info/
**/outputs/
**/runs/
**/princeton-nlp/
**/wandb/
**/t5_dataset/
**/t5-large-1/
**/t5_paraphrase/
**/t5_reparaphrase/
**/paraphrase_data/
**/lightning_logs/